
/*******************************
      GENERAL STYLING
*******************************/


* {
  box-sizing: border-box;
}

p {
  margin: 60px;
  font-size: 2em;
  line-height: 60px;
  font-family: 'Playfair Display', serif;
}

span {
  cursor: pointer;
}



.videoWrapper {

  margin: 0 auto;
  margin: 10px;

}


.textWrapper {
  text-align: left;
  width: 100%;


}

.mejs__controls {
  background-color: orange !important; /* ADDED !IMPORTANT TO OVERRIDE mediaelementplayer.CSS */
}



/*******************************
      MEDIA QUERIES
*******************************/

@media screen and  (min-width: 768px){

p {
  font-size: 1.5em;
}

.textWrapper {
  margin: 0 auto;
  width: 70%;
}

.videoWrapper {
  margin: 0 auto;
  margin-top: 10px;
  width: 60% !important; /* ADDED !IMPORTANT TO FORCE VIDEO WIDTH CHANGE */
}



}
